html, body{
    height: 100%;
    width: 100%;
}

html{
    background-image: url("./images/space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    position: relative;
}

.space-container{
    height: 90%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.space-circle{
    display: flex;
    width: 80%;
    height: 80%;
    border: 20px double rgba(181, 33, 218, 0.637);
    border-radius: 50%;
    background-color: black;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: 2s ease;
    opacity: .8;

}

.space-circle:hover{
    transform: rotate(360deg);
}

#sign-up-form{
    position: absolute;
    right: 30px;
    width: 55%;
    height: 95%;
    background: linear-gradient(20deg,cornflowerblue, purple, white);
    opacity: .9;
    border-radius: 1rem;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    justify-content: space-around;

}

.form-title{
    color: white;
    font-size: xx-large;
    text-align: center;
}

.fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 1rem;


}


input{
    height: 20px;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: #2d2d2d;
    text-align: center;
    background-color: rgb(208, 70, 235);
    margin-left: 5px;
}

::placeholder{
    color: white;
    opacity: .5;
}

input:focus::placeholder{
    opacity: 0;
}

input:hover{
    transition: .3s ease;
    border: 2px solid gold;
    transform: scale(1.05);
}

#birth-date-container{
    grid-column: 1/3;
}

#bd{
    width: 70%;
    height: 100%;
    
}

#address-container{
    grid-column: 1/3;
}

#address{
    width: 80%;
    margin-left: 10px;
}

#email{
    width: 80%;
}


#conf-pwd-container{
    grid-column: 1/3;
}

#conf-pwd{
    width: 75%;
}

#btn-container{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;

}

#signup-btn{
    border: 2px solid white;
    border-radius: 2rem;
    width: 30%;
    height: 40%;
    background: linear-gradient(20deg, blue, purple, red);
    opacity: .8;
    color: white;
    font-size: large;
    font-weight: bold;
}

#signup-btn:hover{
    color: gold;
    border-color: gold;
    transition: .3s ease; 
    transform: scale(1.1);
}


